/ Property cost calculator
%section.container.mb-5.pb-2.pb-lg-4
  .row.align-items-center
    .col-md-5
      = image_pack_tag 'media/stylesheets/img/real-estate/illustrations/calculator.svg', width: 416, alt: 'calculate ilustration', class: 'd-block mx-md-0 mx-auto mb-md-0 mb-4'
    .col-xxl-6.col-md-7.text-md-start.text-center
      %h2 Calculadora de préstamo
      %p.pb-3.fs-lg En nuestro simulador de crédito puedes calcular cuánto te puede prestar un banco para la compra de tu departamento o casa, de acuerdo a tus ingresos mensuales, también puedes calcular el valor de la cuota mensual de tu crédito de vivienda.
      %a.btn.btn-lg.btn-primary{"data-bs-toggle" => "modal", :href => "#cost-calculator"}
        %i.fi-calculator.me-2>
        Calcular Préstamo
