  <!-- Property cost calculator-->
  <section class="container mb-5 pb-2 pb-lg-4">
    <div class="row align-items-center">
      <div class="col-md-5">
        <%= image_pack_tag 'media/stylesheets/img/real-estate/illustrations/calculator.svg', width: 416, alt: 'calculate ilustration', class: 'd-block mx-md-0 mx-auto mb-md-0 mb-4' %>
      </div>
      <div class="col-xxl-6 col-md-7 text-md-start text-center">
        <h2>Calculadora de préstamo</h2>
        <p class="pb-3 fs-lg">En nuestro simulador de crédito puedes calcular cuánto te puede prestar un banco para la compra de tu departamento o casa, de acuerdo a tus ingresos mensuales, también puedes calcular el valor de la cuota mensual de tu crédito de vivienda.</p>
          <a class="btn btn-lg btn-primary" href="#cost-calculator" data-bs-toggle="modal">
            <i class="fi-calculator me-2"></i>Calcular Préstamo
          </a>
      </div>
    </div>
  </section>