/ Property categories
%section.container.mb-5
  .row.row-cols-lg-6.row-cols-sm-3.row-cols-2.g-3.g-xl-4
    .col
      %a.icon-box.card.card-body.h-100.border-0.shadow-sm.card-hover.h-100.text-center{:href => "real-estate-catalog-rent.html"}
        .icon-box-media.bg-faded-primary.text-primary.rounded-circle.mb-3.mx-auto
          %i.fi-real-estate-house
        %h3.icon-box-title.fs-base.mb-0 Houses
    .col
      %a.icon-box.card.card-body.h-100.border-0.shadow-sm.card-hover.h-100.text-center{:href => "real-estate-catalog-sale.html"}
        .icon-box-media.bg-faded-primary.text-primary.rounded-circle.mb-3.mx-auto
          %i.fi-apartment
        %h3.icon-box-title.fs-base.mb-0 Apartments
    .col
      %a.icon-box.card.card-body.h-100.border-0.shadow-sm.card-hover.h-100.text-center{:href => "real-estate-catalog-rent.html"}
        .icon-box-media.bg-faded-primary.text-primary.rounded-circle.mb-3.mx-auto
          %i.fi-shop
        %h3.icon-box-title.fs-base.mb-0 Commercial
    .col
      %a.icon-box.card.card-body.h-100.border-0.shadow-sm.card-hover.h-100.text-center{:href => "real-estate-catalog-sale.html"}
        .icon-box-media.bg-faded-primary.text-primary.rounded-circle.mb-3.mx-auto
          %i.fi-rent
        %h3.icon-box-title.fs-base.mb-0 Daily rental
    .col
      %a.icon-box.card.card-body.h-100.border-0.shadow-sm.card-hover.h-100.text-center{:href => "real-estate-catalog-rent.html"}
        .icon-box-media.bg-faded-primary.text-primary.rounded-circle.mb-3.mx-auto
          %i.fi-house-chosen
        %h3.icon-box-title.fs-base.mb-0 New buildings
    .col
      .dropdown.h-100
        %a.icon-box.card.card-body.h-100.border-0.shadow-sm.card-hover.text-center{"data-bs-toggle" => "dropdown", :href => "#"}
          .icon-box-media.bg-faded-primary.text-primary.rounded-circle.mb-3.mx-auto
            %i.fi-dots-horisontal
          %h3.icon-box-title.fs-base.mb-0 More
        .dropdown-menu.dropdown-menu-end.my-1
          %a.dropdown-item.fw-bold{:href => "real-estate-catalog-sale.html"}
            %i.fi-single-bed.fs-base.opacity-60.me-2>
            Room
          %a.dropdown-item.fw-bold{:href => "real-estate-catalog-rent.html"}
            %i.fi-computer.fs-base.opacity-60.me-2>
            Office
          %a.dropdown-item.fw-bold{:href => "real-estate-catalog-sale.html"}
            %i.fi-real-estate-buy.fs-base.opacity-60.me-2>
            Land
          %a.dropdown-item.fw-bold{:href => "real-estate-catalog-rent.html"}
            %i.fi-parking.fs-base.opacity-60.me-2>
            Parking lot
