/ Partners (carousel)
%section.container.mb-5.pb-2.pb-lg-4
  %h2.h3.mb-4.text-center.text-md-start Our partners
  .tns-carousel-wrapper.tns-nav-outside.tns-nav-outside-flush
    .tns-carousel-inner{"data-carousel-options" => "{\"items\": 6, \"controls\": false, \"responsive\": {\"0\":{\"items\":2}, \"500\":{\"items\":4}, \"992\":{\"items\":5, \"gutter\": 16}, \"1200\":{\"items\":6, \"gutter\": 24}}}"}
      %div
        %a.swap-image{:href => "#"}
          %img.swap-to{:alt => "Logo", :src => "img/real-estate/brands/01_color.svg", :width => "196"}/
          %img.swap-from{:alt => "Logo", :src => "img/real-estate/brands/01_gray.svg", :width => "196"}/
      %div
        %a.swap-image{:href => "#"}
          %img.swap-to{:alt => "Logo", :src => "img/real-estate/brands/02_color.svg", :width => "196"}/
          %img.swap-from{:alt => "Logo", :src => "img/real-estate/brands/02_gray.svg", :width => "196"}/
      %div
        %a.swap-image{:href => "#"}
          %img.swap-to{:alt => "Logo", :src => "img/real-estate/brands/03_color.svg", :width => "196"}/
          %img.swap-from{:alt => "Logo", :src => "img/real-estate/brands/03_gray.svg", :width => "196"}/
      %div
        %a.swap-image{:href => "#"}
          %img.swap-to{:alt => "Logo", :src => "img/real-estate/brands/04_color.svg", :width => "196"}/
          %img.swap-from{:alt => "Logo", :src => "img/real-estate/brands/04_gray.svg", :width => "196"}/
      %div
        %a.swap-image{:href => "#"}
          %img.swap-to{:alt => "Logo", :src => "img/real-estate/brands/05_color.svg", :width => "196"}/
          %img.swap-from{:alt => "Logo", :src => "img/real-estate/brands/05_gray.svg", :width => "196"}/
      %div
        %a.swap-image{:href => "#"}
          %img.swap-to{:alt => "Logo", :src => "img/real-estate/brands/06_color.svg", :width => "196"}/
          %img.swap-from{:alt => "Logo", :src => "img/real-estate/brands/06_gray.svg", :width => "196"}/
