/ Services
%section.container.mb-5.mt-n3.mt-lg-0
  .tns-carousel-wrapper.tns-nav-outside.tns-nav-outside-flush.mx-n2
    .tns-carousel-inner.row.gx-4.mx-0.py-3{"data-carousel-options" => "{\"items\": 3, \"controls\": false, \"responsive\": {\"0\":{\"items\":1},\"500\":{\"items\":2},\"768\":{\"items\":3}}}"}
      .col
        .card.card-hover.border-0.h-100.pb-2.pb-sm-3.px-sm-3.text-center
          %img.d-block.mx-auto.my-3{:alt => "Illustration", :src => "/img/real-estate/illustrations/buy.svg", :width => "256"}/
          .card-body
            %h2.h4.card-title Buy a property
            %p.card-text.fs-sm Blandit lorem dictum in velit. Et nisi at faucibus mauris pretium enim. Risus sapien nisi aliquam egestas leo dignissim.
          .card-footer.pt-0.border-0
            %a.btn.btn-outline-primary.stretched-link{:href => "real-estate-catalog-sale.html"} Find a home
      .col
        .card.card-hover.border-0.h-100.pb-2.pb-sm-3.px-sm-3.text-center
          %img.d-block.mx-auto.my-3{:alt => "Illustration", :src => "img/real-estate/illustrations/sell.svg", :width => "256"}/
          .card-body
            %h2.h4.card-title Sell a property
            %p.card-text.fs-sm Amet, cras orci justo, tortor nisl aliquet. Enim tincidunt tellus nunc, nulla arcu posuere quis. Velit turpis orci venenatis.
          .card-footer.pt-0.border-0
            %a.btn.btn-outline-primary.stretched-link{:href => "#"} Place an ad
      .col
        .card.card-hover.border-0.h-100.pb-2.pb-sm-3.px-sm-3.text-center
          %img.d-block.mx-auto.my-3{:alt => "Illustration", :src => "img/real-estate/illustrations/rent.svg", :width => "256"}/
          .card-body
            %h2.h4.card-title Rent a property
            %p.card-text.fs-sm Sed sed aliquet sed id purus malesuada congue viverra. Habitant quis lacus, volutpat natoque ipsum iaculis cursus.
          .card-footer.pt-0.border-0
            %a.btn.btn-outline-primary.stretched-link{:href => "real-estate-catalog-rent.html"} Find a rental
