/ Top agents (lnked carousel)
%section.container.mb-5.pb-2.pb-lg-4
  %h2.h3.mb-4.pb-3.text-center.text-md-start Top real estate agents
  .tns-carousel-wrapper
    .tns-carousel-inner{"data-carousel-options" => "{\"items\": 1, \"mode\": \"gallery\", \"controlsContainer\": \"#agents-carousel-controls\", \"nav\": false}"}
      %div
        .row.align-items-center
          .col-xl-4.d-none.d-xl-block
            %img.rounded-3{:alt => "Agent picture", :src => "img/real-estate/agents/01.jpg"}/
          .col-xl-4.col-md-5.col-sm-4
            %img.rounded-3{:alt => "Agent picture", :src => "img/real-estate/agents/02.jpg"}/
          .col-xl-4.col-md-7.col-sm-8.px-4.px-sm-3.px-md-0.ms-md-n4.mt-n5.mt-sm-0.py-3
            .card.border-0.shadow-sm.ms-sm-n5
              %blockquote.blockquote.card-body
                %h4{:style => "max-width: 22rem;"} "I will select the best accommodation for you"
                %p.d-sm-none.d-lg-block Amet libero morbi venenatis ut est. Iaculis leo ultricies nunc id ante adipiscing. Vel metus odio at faucibus ac. Neque id placerat et id ut. Scelerisque eu mi ullamcorper sit urna. Est volutpat dignissim nec.
                %footer.d-flex.justify-content-between
                  .pe-3
                    %a.text-decoration-none{:href => "real-estate-vendor-properties.html"}
                      %h6.mb-0 Floyd Miles
                      .text-muted.fw-normal.fs-sm.mb-3 Imperial Property Group Agent
                    %a.btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2{:href => "#"}
                      %i.fi-facebook
                    %a.btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2{:href => "#"}
                      %i.fi-twitter
                    %a.btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2{:href => "#"}
                      %i.fi-linkedin
                  %div
                    %span.star-rating
                      %i.star-rating-icon.fi-star-filled.active
                      %i.star-rating-icon.fi-star-filled.active
                      %i.star-rating-icon.fi-star-filled.active
                      %i.star-rating-icon.fi-star-filled.active
                      %i.star-rating-icon.fi-star-filled.active
                    .text-muted.fs-sm.mt-1 45 reviews
      %div
        .row.align-items-center
          .col-xl-4.d-none.d-xl-block
            %img.rounded-3{:alt => "Agent picture", :src => "img/real-estate/agents/02.jpg"}/
          .col-xl-4.col-md-5.col-sm-4
            %img.rounded-3{:alt => "Agent picture", :src => "img/real-estate/agents/03.jpg"}/
          .col-xl-4.col-md-7.col-sm-8.px-4.px-sm-3.px-md-0.ms-md-n4.mt-n5.mt-sm-0.py-3
            .card.border-0.shadow-sm.ms-sm-n5
              %blockquote.blockquote.card-body
                %h4{:style => "max-width: 22rem;"} "I don't say no, I just figure out a way to make it work"
                %p.d-sm-none.d-lg-block Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                %footer.d-flex.justify-content-between
                  .pe-3
                    %a.text-decoration-none{:href => "real-estate-vendor-properties.html"}
                      %h6.mb-0 Guy Hawkins
                      .text-muted.fw-normal.fs-sm.mb-3 Imperial Property Group Agent
                    %a.btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2{:href => "#"}
                      %i.fi-facebook
                    %a.btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2{:href => "#"}
                      %i.fi-twitter
                    %a.btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2{:href => "#"}
                      %i.fi-linkedin
                  %div
                    %span.star-rating
                      %i.star-rating-icon.fi-star-filled.active
                      %i.star-rating-icon.fi-star-filled.active
                      %i.star-rating-icon.fi-star-filled.active
                      %i.star-rating-icon.fi-star-filled.active
                      %i.star-rating-icon.fi-star-filled.active
                    .text-muted.fs-sm.mt-1 16 reviews
      %div
        .row.align-items-center
          .col-xl-4.d-none.d-xl-block
            %img.rounded-3{:alt => "Agent picture", :src => "img/real-estate/agents/03.jpg"}/
          .col-xl-4.col-md-5.col-sm-4
            %img.rounded-3{:alt => "Agent picture", :src => "img/real-estate/agents/01.jpg"}/
          .col-xl-4.col-md-7.col-sm-8.px-4.px-sm-3.px-md-0.ms-md-n4.mt-n5.mt-sm-0.py-3
            .card.border-0.shadow-sm.ms-sm-n5
              %blockquote.blockquote.card-body
                %h4{:style => "max-width: 22rem;"} "Over 10 years of experience as a real estate agent"
                %p.d-sm-none.d-lg-block Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.
                %footer.d-flex.justify-content-between
                  .pe-3
                    %a.text-decoration-none{:href => "real-estate-vendor-properties.html"}
                      %h6.mb-0 Kristin Watson
                      .text-muted.fw-normal.fs-sm.mb-3 Imperial Property Group Agent
                    %a.btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2{:href => "#"}
                      %i.fi-facebook
                    %a.btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2{:href => "#"}
                      %i.fi-twitter
                    %a.btn.btn-icon.btn-light-primary.btn-xs.shadow-sm.rounded-circle.me-2.mb-2{:href => "#"}
                      %i.fi-linkedin
                  %div
                    %span.star-rating
                      %i.star-rating-icon.fi-star-filled.active
                      %i.star-rating-icon.fi-star-filled.active
                      %i.star-rating-icon.fi-star-filled.active
                      %i.star-rating-icon.fi-star-filled.active
                      %i.star-rating-icon.fi-star-filled.active
                    .text-muted.fs-sm.mt-1 24 reviews
  #agents-carousel-controls.tns-carousel-controls.justify-content-center.justify-content-md-start.my-2.mt-md-4
    %button.mx-2{:type => "button"}
      %i.fi-chevron-left
    %button.mx-2{:type => "button"}
      %i.fi-chevron-right
