- flash.each do |msg_type, message|
  %div{:class => "alert #{bootstrap_class_for(msg_type)} alert-dismissible fade show", :role => "alert"}
    %span.fw-bold
    = message
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
